
#card{
  background-color: #3b3f4b;
  border-radius: 5px;
  color: #c0ccd4;
  }
.card-wrap{
  width: 70%;
   
}
.button-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.fa-chevron-down{
  float: right;
  color:#ffce00; 
  
}
/* .review{
  background-color: #ffce00;
  color: #3b3f4b;
  outline: none; 
  
} */
.flip{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#grade{
  /* margin:auto; */
  
  float: left;
}
#rating{
 
  /* margin:auto; */
  float:right;
}
.coursecontainer{
  margin-bottom: 10rem;
}

.modal-backdrop.fade{
  opacity: 0;
}
