
#tune{
    color: #3b3f4b;
   font-size: 2rem;
    margin:auto;
    
    
    
}

#but{
    width: 4rem;
    height: 4rem;
    background-color: #ffce00;
    margin:auto;
    margin-bottom: 1em;
    border-radius:100%;
    padding-right: 1vh;
    border-style: none; 
    border: 3px solid #3b3f4b;
    outline: none;

}
.btn{
    outline: none !important;
}

.footer{
    background-color: #ffce00;
    height: 20rem;
    visibility: hidden;
}

.foot-display{
    background-color: #ffce00;
    height: 20rem;
    visibility: visible;
}
.top-text{
    color: #3b3f4b;
    font-size: 50px;
    text-align: center;
    margin: auto;
}
.foot-filter{
    background-color: #3b3f4b;
    color: #ffce00;
    text-align: center;
    height: 3rem;
}
.filter{
    margin-left: 0px;
}
.sort-button, .filter-button{
    height: 5rem;
    width: 5rem;
    background-color: #ffce00 !important;
    border: 3px solid black;
    border-radius: 100%;
    margin: 1vh;
    color: #484d5c !important;
    font-family: 'Oswald', sans-serif;
}
.sort-button:hover{
    background-color: black !important;
    color: #ffce00 !important;
}

.button-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    
}
.clicked{
    height: 5rem;
    width: 5rem;
    background-color: black !important;
    color: #ffce00 !important;
    border: 3px solid black;
    border-radius: 100%;
    margin: 1vh;
    font-family: 'Oswald', sans-serif;
}