.header {
  background-color: #464646;
  color: white;

  margin: 0;
  padding: 20px 0px;
  width: 100%;

  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}